<h1>Edit your poll</h1>


<%= render 'form'%>

<h2>Questions for this poll:</h2>
<%= render :partial => 'questions/questions'%>
<br />

<%= link_to 'Create new questions for this poll', new_poll_question_path(@poll)%> <br />
<%= link_to 'View this poll', @poll%> <br />
<%= link_to 'View all polls', polls_path%>
