<h1>Edit your poll, add questions, and view answers</h1>


<%= render 'form'%>

<h2>Questions for this poll:</h2>
<%= render :partial => 'questions/questions'%>
<br />

<h3><%= link_to 'Add a question to this poll', new_poll_question_path(@poll)%></h3> <br />
<%= link_to 'View this poll', @poll%> <br />
<%= link_to 'View all polls', polls_path%>
