<h1>Take this awesome poll</h1>
<br />

<p id="notice"><%= notice %></p>

<p>
  <b>Poll Name:</b>
  <%= @poll.name %>
</p>

<%= render :partial => 'questions/question', :collection => @poll.questions %>


The link to your poll is: <%= link_to root_url + "polls/#{@poll.id}", root_url + "polls/#{@poll.id}" %> |
<%= link_to 'View all polls', polls_path %>
